<a href="https://colab.research.google.com/github/Jojomaque/DataScience/blob/main/JojoHow_happy_is_the_world.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How happy is the world?

![HappinessImage-Benjamin Scott](https://drive.google.com/uc?id=1wWdXTclLAjPpZUiKkR8XGg0Sl7iD1u8T)  

(Image by Benjamin Scott, [source](https://www.natureindex.com/news-blog/data-visualization-these-are-the-happiest-countries-world-happiness-report-twenty-nineteen))   

The Sustainable Development Solutions Network (SDSN) collects data across the world relating to happiness.  They use this data to rank countries in order of happiness factor.

This is not an exact science but can give food for thought in terms of what factors might have the most impact on a nation's happiness levels.

Data is taken from the Gallup World Poll, so not collected directly by SDSN.  
Countries are grouped by region.  

### The factors included are:
Economy (measured in GDP per Capita)	
Family (support systems) 	
Health (measured by Life Expectancy)	
Freedom (sense of)  	 
Trust (Government Corruption)	
Generosity (charitable inclinations)  	
Dystopia Residual 
*  Dystopic is the theoretical most unhappy country with the lowest levels in all six of the above factors  
*  The Residual measure is a calculated as the average of the six distances from lowest

Let's take a look at the data

---
### Open a data set

Open the data set, an Excel file with only one sheet (so sheet_name is not necessary) from here: https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2015.xlsx?raw=true

Interrogate the data (head, tail, iloc) to get to know what it contains.

In [20]:
# Load in the data with `read_excel()`
import pandas as pd 
df = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2015.xlsx?raw=true')
df

         Country  ... Dystopia Residual
0    Switzerland  ...           2.51738
1        Iceland  ...           2.70201
2        Denmark  ...           2.49204
3         Norway  ...           2.46531
4         Canada  ...           2.45176
..           ...  ...               ...
153       Rwanda  ...           0.67042
154        Benin  ...           1.63328
155        Syria  ...           0.32858
156      Burundi  ...           1.83302
157         Togo  ...           1.56726

[158 rows x 12 columns]

In [21]:
happy = df
# To show the last 5 records
happy.tail()

     Country                           Region  ...  Generosity  Dystopia Residual
153   Rwanda               Sub-Saharan Africa  ...     0.22628            0.67042
154    Benin               Sub-Saharan Africa  ...     0.18260            1.63328
155    Syria  Middle East and Northern Africa  ...     0.47179            0.32858
156  Burundi               Sub-Saharan Africa  ...     0.19727            1.83302
157     Togo               Sub-Saharan Africa  ...     0.16681            1.56726

[5 rows x 12 columns]

In [7]:
len(happy)

158

In [10]:
import pandas as pd

df = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2015.xlsx?raw=true')
happy = df
happydf1 = happy[['Region','Happiness Rank','Economy (GDP per Capita)']]
print(happydf1)

                              Region  Happiness Rank  Economy (GDP per Capita)
0                     Western Europe               1                   1.39651
1                     Western Europe               2                   1.30232
2                     Western Europe               3                   1.32548
3                     Western Europe               4                   1.45900
4                      North America               5                   1.32629
..                               ...             ...                       ...
153               Sub-Saharan Africa             154                   0.22208
154               Sub-Saharan Africa             155                   0.28665
155  Middle East and Northern Africa             156                   0.66320
156               Sub-Saharan Africa             157                   0.01530
157               Sub-Saharan Africa             158                   0.20868

[158 rows x 3 columns]

In [6]:
# For understanding the dispersion of the data
happy.describe()

       Happiness Rank  Happiness Score  ...  Generosity  Dystopia Residual
count      158.000000       158.000000  ...  158.000000         158.000000
mean        79.493671         5.375734  ...    0.237296           2.098977
std         45.754363         1.145010  ...    0.126685           0.553550
min          1.000000         2.839000  ...    0.000000           0.328580
25%         40.250000         4.526000  ...    0.150553           1.759410
50%         79.500000         5.232500  ...    0.216130           2.095415
75%        118.750000         6.243750  ...    0.309882           2.462415
max        158.000000         7.587000  ...    0.795880           3.602140

[8 rows x 10 columns]

---
### Sort the data in different ways

The data is currently sorted in order of rank.  To sort the data in the table, run the code below, which identifies the column on which to sort in the brackets.

Then, **try sorting on other columns** *Note: you must type the column heading in the quotes and exactly as it appears in the table (including capitalisation)*.  To sort on multiple columns, enter a list of column headings in the brackets (e.g. `.sort_values(['Region','Freedom'])`

In [19]:
sorted_table = happy.sort_values(['Happiness Rank','Freedom'])
sorted_table

         Country  ... Dystopia Residual
0    Switzerland  ...           2.51738
1        Iceland  ...           2.70201
2        Denmark  ...           2.49204
3         Norway  ...           2.46531
4         Canada  ...           2.45176
..           ...  ...               ...
153       Rwanda  ...           0.67042
154        Benin  ...           1.63328
155        Syria  ...           0.32858
156      Burundi  ...           1.83302
157         Togo  ...           1.56726

[158 rows x 12 columns]

---
### Summarising the data

Look at the happiness dataframe.  Create new dataframes from a range of rows, columns, statistical information, etc.

For each dataframe, add a text cell to explain what it is showing

In [12]:
subset = happy[['Happiness Score', 'Economy (GDP per Capita)','Health (Life Expectancy)','Freedom','Generosity']]
subset

     Happiness Score  Economy (GDP per Capita)  ...  Freedom  Generosity
0              7.587                   1.39651  ...  0.66557     0.29678
1              7.561                   1.30232  ...  0.62877     0.43630
2              7.527                   1.32548  ...  0.64938     0.34139
3              7.522                   1.45900  ...  0.66973     0.34699
4              7.427                   1.32629  ...  0.63297     0.45811
..               ...                       ...  ...      ...         ...
153            3.465                   0.22208  ...  0.59201     0.22628
154            3.340                   0.28665  ...  0.48450     0.18260
155            3.006                   0.66320  ...  0.15684     0.47179
156            2.905                   0.01530  ...  0.11850     0.19727
157            2.839                   0.20868  ...  0.36453     0.16681

[158 rows x 5 columns]

In [18]:
subset['Health (Life Expectancy)'].mean()

0.6302593670886079

---
### Next steps

There are data sets for the years 2015 to 2019 available.  To access and try out other years, change 2015 to the required year in the URL in the first code cell.  Leave the rest exactly as it is.  

Other years may have different column headings and so there will be different data to play with.